* {
   margin:0;
   padding:0; 
    
 }

 /* Set my main picture as a background image */
 body {
  background-image: url("mtrainer.jpeg");
      background-size: cover;
      background-position: center;
     width: 100vw;
     height: 100vh;
 }

 /* Entire top photo and all the content that lays on top of it */
.mtrainer {
      width: 100%;
      display: flex;
      flex-direction: column;
 }

 /* My profile photo and portfolio name are in here together for positioning */
 .photocontainer {
  display:flex;
  gap: 5rem;
  flex-wrap: wrap;
 }

 /* the width from the left side of the page */
 .profilepic {
  width: 15rem;
 }

 /* The photo of me at the top */
 .selfie {
   display: flex;
   height: 300px;
   -ms-flex-item-align: end;
   border-radius: 150px;
   padding: 3rem;
}

/* Stlying for my name at the top */
.myname {
  display: block;
  font-family: fantasy;
  font-size: 80px;
  padding: 30px;
  max-width: 50rem;
  min-width: 20rem;
}

/* Postioning for the portfolio name */
#portfolio {
  display: flex;
  align-items: flex-end;
}

/* Styling for the portfolio name */
#portfolio span {
   font-family: fantasy;
   font-size: 70px;
   font-style: initial;
   color: rgb(201, 185, 164);
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   margin-left: 19rem;
   max-width: 20rem;
   min-width: 10rem;
}

/* top area that includes my name and the links */
.title-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Getting rid of the underline and bullet points as well as tunring the links from blue to black */
nav ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/* The links at the top */
.nav {
  max-width: 50rem;
  min-width: 20rem;
}

/*Styling for the links at the top  */
ul {
   display: flex;
   font-family: fantasy;
   font-size: 20px;
   flex-direction: row;
   justify-content: center;
   gap: 35px;
   list-style-type: none;
   padding-right: 5rem;
   width: 100%;
}

/* Styling for the main section */
main {
  background-color: rgb(201, 185, 164);
  color: antiquewhite ;
  font-family: fantasy;
}

/* Styling for all h2 tags*/
h2 {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Styling for about me paragraph */
.aboutmeparagraph {
  font-size: 1rem;
  background-color:antiquewhite;
  color: rgb(22, 54, 22);
  padding: 10px;
}

/* Layout for photos in the middle */
.photodisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling for photos in the middle */
.picsbody {
  display: inline-flex;
  background-color: antiquewhite;
  background-size: cover;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Photo of sunset with hut */
div.hut {
  display: flow-root;
  background-image: url(./hut.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
}

/*Lay out for hut pic*/
div.hut a {
  display: block;
  height: 100%;
  width: 100%;
}

/* Styling for link to hut website */
.hut p a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: rgb(22, 54, 22);
  font-size: medium;
  padding: 3px;
}

/* Photo of sunset with lake */
div.goatlake {
  display:flow-root;
  background-image: url(./goat-lake.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* Lay out for lake pic */
div.goatlake a {
  display: block;
  height: 100%;
  width: 100%;
}

/* Styling for link to lake website */
.goatlake p a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: rgb(22, 54, 22);
  font-size: medium;
  padding: 3px;
}

/* Photo of mossy tree */
div.mossytree {
  display: flow-root;
  background-image: url(./mossy\ tree.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* Lay out for mossy tree photo */
div.mossytree a {
  display: block;
  height: 100%;
  width: 100%;
}

/* Styling for link to mossy tree */
.mossytree p a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: rgb(22, 54, 22);
  font-size: medium;
  padding: 3px;
}

/* Photo of boat in Vietnam */
div.vietnam {
  display: flow-root;
  background-image: url(./vietnam.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* Lay out for Vietnam photo */
div.vietnam a {
  display: block;
  height: 100%;
  width: 100%;
}

/* Styling for Vitenam Link */
.vietnam p a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: rgb(22, 54, 22);
  font-size: medium;
  padding: 3px;
}

/* Added a breakline between photo area and resume area */
.br {
  
}

/* Layout and color for resume button background */
.buttonbackground {
  display: flex;
  background-color: antiquewhite;
}

/* Stlying for button area */
button {
  font-family: fantasy;
  font-size: large;
  border-radius: 50px;
  background-color: rgb(201, 185, 164);
  color: rgb(22, 54, 22);
  padding: 1rem;
  margin: 1rem;
}

/*fixed link styling */
button a {
  text-decoration: none;
  color: rgb(22, 54, 22);
}

/* Styling and layout for footer links and contact me */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: fantasy;
  background-color: rgb(22, 54, 22);
  color: rgb(201, 185, 164);
  gap: 10rem;
  padding: 1rem;
  font-size: larger;
}

/* Styling specific for contact me */
h3 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/* Styling for links at bottom */
.contactstyling {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  text-decoration: none;
}

/* Styling for instagram link */
.instagram p a {
  color: rgb(201, 185, 164);
  text-decoration: none;
}

/* Styling for linkedin link */
.linkedin p a {
  color: rgb(201, 185, 164);
  text-decoration: none;
}

/* Media screen CSS */
@media screen and (max-width: 430px) {
  body {
  display: grid;
  }
  .myname {
font-size: 40px;
  }
  ul {
    font-size: 15px;
  }
  #portfolio span {
    font-size: 35px;
    display: flex;
    margin-left: 20px;
  }
  .aboutmeparagraph {
   width: 63%;
   margin: 5px;
  }
  .picsbody {
    display: -webkit-box;
  }
  .contactstyling {
   display: block;
  }
  footer {
    row-gap: normal;
  }
}

@media screen and (max-width: 540px) {
  .myname {
    font-size: 50px;
  }
  #portfolio span {
    font-size: 35px;
    display: flex;
    margin-left: 20px;
  }
  .aboutmeparagraph {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .contactstyling {
    display: block;
  }
  footer {
    row-gap: normal;
  }
  .aboutmeparagraph {
    width: 90%;
  }
}

@media screen and (max-width: 943px) {
  .myname {
    font-size: 50px; 
  }
  #portfolio span {
    font-size: 35px;
    display: flex;
    margin-left: 20px;
  }
  .contactstyling {
    font-size: medium;
  }
}